/* Estilização do cabeçalho */
.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.cabecalho h1{ 
  font-family: var(--font-all);
  color: var(--color-text);
  font-size: 80px;
  font-weight:500;
  font-style: italic; 
  margin: 10px 10px 10px 50px;
  
}


 .login{
  background-color: rgba(78,98,111,1) ;
  border-radius: 10px 0 0 10px;
  width: 200px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  line-height: 1
 }

 .login a{
  font-family: var(--font-all);
  color: var(--color-text-nav);
  text-align: center;
  font-size: 20px;
  justify-content: center;
 }

 .login a:hover{
  text-decoration: underline;
 }


 /* Menu de navegação */

  nav{
    position: sticky;
    top: 0px;
    z-index: 1;
  }

  .menu{
    background-color: var(--background-nav);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 15px;
    filter: drop-shadow(0px 4px 10px #707070);
    margin-bottom: 0;
    line-height: 1;
    background: rgb(43,56,64);
    background: linear-gradient(108deg, rgba(43,56,64,1) 39%, rgba(78,98,111,1) 65%);
  }

  .menu li{
    list-style: none;  
    font-size: 20px;
    font-weight: 700;  
    
  }

  .menu li a{
    color: var(--color-text);
    font-size: 30px;
    border-bottom: 1px solid transparent;
  }

  .menu li a:visited{
    color: var(--color-text-nav);
  }

  .menu li a:hover{
    border-bottom: 2px solid var(--color-text-nav);
    transition: border-bottom 0.3s ease-in-out;  
  }




/* Fim estilização cabeçalho */